.ltblue {
  background-color: #6F989B; /* changed from ltblue to Moonstone */
 }

.ltgreen {
  background-color: #9FD356; /* changed from ltgreen to Yellow Green */
}

.ltgray {
  background-color: #9FB6C0; /* changed from ltgray to cadet gray */
}

.sunburst {
  background-color: #E19147; /* changed from sunburst to Butterscotch */
}

.slate {
  background-color: #70566D; /* changed from slate to Chinese Violet */
}

.ltslate {
  background-color: #52758E; /* from ltslate to Payne's Gray */
}

.black {
  background-color: #CFDBD5; /* changed from black to Platinum */
}

.raspb {
  background-color: #F7F0F5; /* changed from raspberry to Magnolia */
}

.dkgray {
  background-color: #707784; /* changed from Dk gray to Slate gray*/
}

.Neucha {
  font-family: 'Neucha', cursive;
}

.Patrick {
  font-family: 'Patrick Hand SC', cursive;
}

.grid {
  height: 228px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-size {
  min-height: 100px;
  max-width: 100px;
}

.header {
  height: 200px;
  border-bottom: solid 3px;
  border-color: #CFDBD5;
}

.aspect {
  height: 540px;
}

.inlay {
  height: 500px;
  margin-top: 3%;
}

.smaller-image {
  max-width: 100%;
  max-height: 100%;
  display: inline;
}

.pic {
  max-width: 55%;
}

.card-img-top {
  max-width: 100%;
}

.proj-text {
  display: inline;
}

.footer {
  height: 20px;
}

.text-vertical {
  float: right;
  margin: 15% 0;
}
