.ltblue {
  background-color: #4da6ff;
}

.ltgreen {
  background-color: #39ac39;
}

.ltgray {
  background-color: #dddddd;
}

.sunburst {
  background-color: #FF9900;
}

.slate {
  background-color: #666699;
}

.ltslate {
  background-color: #a3a3c2;
}

.black {
  background-color: #000000;
}

.raspb {
  background-color: #c1114c;
}

.dkgray {
  background-color: #343a44;
}

.Neucha {
  font-family: 'Neucha', cursive;
}

.Patrick {
  font-family: 'Patrick Hand SC', cursive;
}

.grid {
  height: 228px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-size {
  min-height: 100px;
  max-width: 100px;
}

.header {
  height: 200px;
  border-bottom: solid 3px;
  border-color: #000000;
}

.aspect {
  height: 260px;
}

.inlay {
  height: 220px;
  margin-top: 3%;
}

.smaller-image {
  max-width: 100%;
  max-height: 100%;
  display: inline;
}

.proj-text {
  display: inline;
}

.footer {
  height: 20px;
}

.text-vertical {
  float: right;
  margin: 15% 0;
}
